.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

scripts/**
dist/**
resources/logo/drop/**
out/coverage/**
out/test/**
password*.*
